In [1]:
# R is a glorified calculator
3 + 5

[1] 8

In [2]:
# Substraction
120 - 45

[1] 75

In [3]:
# Multiplication
12 * 5

[1] 60

In [4]:
# Division
4 / 9

[1] 0.4444444

In [5]:
# Exponents
5 ^ 8

[1] 390625

In [6]:
5**8

[1] 390625

In [7]:
# Modulo
5%%2

[1] 1

In [8]:
# Order of operations
(100 * 2) + (50 / 2)

[1] 225

In [9]:
# Variables name <- expression
variable.name <- 50

In [10]:
variable.name

[1] 50

In [15]:
# Variables using arithmatic
bank.account <- 100

In [16]:
deposit <- 10

In [19]:
bank.account <- bank.account + deposit

In [20]:
bank.account

[1] 110

In [21]:
# Numeric - Floating point value
n <- 2.2

In [24]:
# Numeric - Integer
i <- 5

In [25]:
# Logicals - Booleans (TRUE and FALSE)
t <- TRUE
f <- FALSE

In [26]:
t

[1] TRUE

In [27]:
f

[1] FALSE

In [28]:
# Character Values - Strings
char <- "Hello World"

In [29]:
char

[1] "Hello World"

In [30]:
c <- 'Single Quotes Work Too'

In [31]:
c

[1] "Single Quotes Work Too"

In [32]:
class(n)

[1] "numeric"

In [33]:
class(i)

[1] "numeric"

In [34]:
class(t)

[1] "logical"

In [35]:
class(f)

[1] "logical"

In [36]:
class(char)

[1] "character"

In [37]:
class(c)

[1] "character"

In [38]:
'hello'

[1] "hello"

In [39]:
'This is also a string'

[1] "This is also a string"

In [40]:
"String built using double quotes"

[1] "String built using double quotes"

In [41]:
'I'm using single quotes, but this will create an error'

ERROR: Error in parse(text = x, srcfile = src): <text>:1:4: unexpected symbol
1: 'I'm
       ^

In [42]:
"I'm using single quotes, but this will create an error"

[1] "I'm using single quotes, but this will create an error"

In [43]:
nchar('Hello World')

[1] 11

In [44]:
print('This is printed txt using print()')

[1] "This is printed txt using print()"

In [45]:
"This is printed txt using print()"

[1] "This is printed txt using print()"

In [46]:
s = 'Printed Text'

In [47]:
sprintf('This string will include %s', s)

[1] "This string will included Printed Text"

In [48]:
sprintf('This string will include %s', 'additional text')

[1] "This string will include additional text"

In [50]:
string1 <- 'additional text'
string2 <- 'at the end'
string3 <- 'of the sentence'
sprintf('This string will include %s %s %s', string1, string2, string3)

[1] "This string will include additional text at the end"

In [51]:
toupper('Hello World')

[1] "HELLO WORLD"

In [52]:
tolower('Hello World')

[1] "hello world"

In [53]:
strsplit('Hello World', " ")

[[1]]
[1] "Hello" "World"

In [54]:
nvec <- c(1,2,3,4,5)

In [55]:
nvec

[1] 1 2 3 4 5

In [56]:
class(nvec)

[1] "numeric"

In [61]:
cvec <- c('N','C','S','U')

ERROR: Error in eval(expr, envir, enclos): object 'N' not found

In [58]:
class(cvec)

[1] "character"

In [59]:
lvec <- c(TRUE,FALSE)

In [60]:
class(lvec)

[1] "logical"

In [62]:
v <- c(FALSE, 2)

In [63]:
v

[1] 0 2

In [64]:
class(v)

[1] "numeric"

In [65]:
v <- c('A',1)

In [66]:
v

[1] "A" "1"

In [67]:
class(v)

[1] "character"

In [68]:
ilist <- list('A',1,TRUE)

In [69]:
ilist

[[1]]
[1] "A"

[[2]]
[1] 1

[[3]]
[1] TRUE

In [70]:
class(ilist)

[1] "list"

In [ ]:
name()

In [71]:
temps1 <- c(73,78,76,83,69,83,89)

In [72]:
temps1

[1] 73 78 76 83 69 83 89

In [76]:
names(temps1) <- c('Tue','Wed','Thu','Fri','Sat','Sun','Mon')

In [77]:
temps1

Tue Wed Thu Fri Sat Sun Mon
 73  78  76  83  69  83  89

In [78]:
days <- c('Tue','Wed','Thu','Fri','Sat','Sun','Mon')
temps2 <- c(81,79,91,78,79,67,66)

In [79]:
names(temps2) <- days

In [80]:
temps2

Tue Wed Thu Fri Sat Sun Mon
 81  79  91  78  79  67  66

In [82]:
# Vector Operations
v1 <- c(1,2,3)
v2 <- c(5,6,7)

In [83]:
v1 + v2

[1]  6  8 10

In [84]:
v2 - v1

[1] 4 4 4

In [85]:
v1*v2

[1]  5 12 21

In [86]:
v1/v2

[1] 0.2000000 0.3333333 0.4285714

In [87]:
sum(v1)

[1] 6

In [88]:
V <- c(12,45,100,2)

In [89]:
sd(V)

[1] 44.16918

In [90]:
var(V)

[1] 1950.917

In [91]:
max(V)

[1] 100

In [92]:
min(V)

[1] 2

In [93]:
prod(v1)

[1] 6

In [94]:
prod(v2)

[1] 210

In [95]:
#Greater Than or Less Than
5 > 6

[1] FALSE

In [96]:
6 > 5

[1] TRUE

In [97]:
v1 < v2

[1] TRUE TRUE TRUE

In [98]:
6 >= 6

[1] TRUE

In [99]:
var = 1

In [100]:
var < -1

[1] FALSE

In [101]:
var <- 1

In [103]:
5 == 6

[1] FALSE

In [105]:
var != 6

[1] TRUE

In [106]:
v1 < 2

[1]  TRUE FALSE FALSE

In [107]:
v1 <- c(100,200,300)
v2 <- c('a','b','c')

In [108]:
v1

[1] 100 200 300

In [109]:
v2

[1] "a" "b" "c"

In [110]:
v1[1]

[1] 100

In [111]:
v2[2]

[1] "b"

In [112]:
v1[1:3]

[1] 100 200 300

In [113]:
v1[c(1,3)]

[1] 100 300

In [114]:
v1[-1]

[1] 200 300

In [115]:
v <- c(1,2,3,4,5,6,7,8,9,10)

In [116]:
v[3:6]

[1] 3 4 5 6

In [117]:
v[7:10]

[1]  7  8  9 10

In [118]:
v[7:11]

[1]  7  8  9 10 NA

In [119]:
v <- c(1,2,3,4)
names(v) <- c('a','b','c','d')

In [122]:
v['b']

b
2

In [123]:
v[c('a','c','d')]

a c d
1 3 4

In [124]:
v[c('d','c','b','a')]

d c b a
4 3 2 1

In [125]:
v

a b c d
1 2 3 4

In [126]:
v>2

    a     b     c     d
FALSE FALSE  TRUE  TRUE

In [127]:
v[v>2]

c d
3 4

In [128]:
filter <- v>2

In [129]:
filter

    a     b     c     d
FALSE FALSE  TRUE  TRUE

In [130]:
v[filter]

c d
3 4